html {
	box-sizing: border-box;
	background-color: black;
}

*, *::before, *::after {
	box-sizing: inherit;
}

img {
width: 100%;
padding: .5em;}

.background {
	width: 100%;
	margin: 0em;
	padding: 0em;
}

body {
	margin: 0em;
}

.box-1 {
float: left;
width: 33.33%;
font-family: 'Oswald', sans-serif;
padding-bottom: 1em;
color: white;
background-color: black;
}

.box-2 {
float: left;
width: 33.33%;
font-family: 'Oswald', sans-serif;
padding-bottom: 1em;
color: white;
background-color: black;
}

.box-3 {
float: right;
width: 33.33%;
font-family: 'Oswald', sans-serif;
padding-bottom: 1em;
color: white;
background-color: black;
}


.tickets {
text-align: center;
font-family: 'Oswald', sans-serif;
font-size: 0.9em;

}


.button-kids {
	padding: .5em;
	margin-bottom: 1em;
	margin-right: 1.6em;
	font-size: 1em;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	width: 36%;
	float: right;
	border-left: 1em;

}

.button-adults {
	padding: .5em;
	margin-bottom: 1em;
	margin-left: 2em;
	font-size: 1em;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	width: 36%;
}


.atlantis-image {
margin-bottom: 0em;
width: 100%;
padding: .5em;
}


.at-head {
position: absolute;
top: 10%;
font-size: 1.3em;
font-family: 'Oswald', sans-serif;
color: white;
text-align: center;
width: 100%;
}

.at-text {
position: absolute;
top: 35%;
font-size: 1em;
font-family: 'Oswald', sans-serif;
color: white;
text-align: center;
width: 100%;
}

.dates {
	text-align: left;
	overflow: hidden;
	padding: .5em;
	padding-left: 2em;
	font-family: 'Oswald', sans-serif;
}

.dates-des {
padding: 0em;
width: 100%;
font-family: 'Oswald', sans-serif;
font-size: 0.75em;

}

.nowplaying {
	position: relative;
	background: black;
}

nav {
	background-color: white;
	padding-bottom: 0em;
	clear: both;
	margin: 0em;
	padding-right: 1em;
	text-align: center;
}

.footer {
		background-color: gray;
	padding-bottom: 0em;
	clear: both;
	margin: 0em;
	padding-right: 1em;
	text-align: center;
}

nav li {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin: 0em;
	border: 0em;
	display: inline-block;
	width: 25%;
	padding: 0em;
}

h2 {
	text-align: center;
		padding-top: .5em;
		font-family: 'Oswald', sans-serif;
		font-size: 1.4em;
		padding: 0.5em;
		margin: 0em;
		color: white;
}

h3 {
	text-align: left;
		display: block;
		font-family: 'Oswald', sans-serif;
		font-size: 1em;
		color: white;
		margin: .5em;
		padding-left: 1em;
}


footer {
	background-color: gray;
	padding-bottom: 0em;
	font-family: 'Oswald', sans-serif;
	font-weight: normal;
	font-size: 0.5em;
	list-style-type: none;
	overflow: hidden;

	}

 footer ul {
 	list-style-type: none;
 	padding-left: 3em;
 	background-color: gray;
 	margin: 0em;

 }

 footer nav {
 	background: gray;

 }


 li {
 	padding: 0em;
 	margin: 0em;
 }

p {
	text-align: center;
	font-size: 16px;
	font-family: 'Oswald', sans-serif;
	color: white;
	padding: 0;
	}


nav li {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	margin: 0em;
	border: 0em;
	display: inline-block;
	width: 25%;
	float: left;
	padding: 0em;
}


.thisweek {
background-color: gray;
overflow: hidden;
padding: 1em 1em;
}


.swtitle {
	position: absolute;
	top: 31%;
	margin: 0em;
	font-size: 1.2em;
	text-align: center;
	color: white;
	font-family: 'Oswald', sans-serif;
	z-index: 200;
	width: 100%;
}

.ptitle {
	position: absolute;
	top: 45%;
	margin: 0em;
	font-family: 'Oswald', sans-serif;
	font-size: .90em;
	z-index: 1000;
	color: white;
	text-align: center;
	padding-left: 1em;
}


.sevenwonders {
	padding: 1em;
	padding-top: .5em;
	background-color: black;
}


div {
	background-color: white;
	overflow: hidden;
}

.buytickets {
background-color: gray;

}

header{
		background-color: gray;
padding-right: .5em;
padding: 1.5em;
}

dl {

	overflow: hidden;
	margin: 0em;
	padding-right: .5em;
}

dd {
margin-left: 0;
font-size: 0.7em;
text-align: center;
padding: 0em;
}


dt {
font-size: 0.8em;
text-align: center;
padding: 0em;
}


.logo {
	width: 20%;
	float:left;
	padding: .5em;
}

h1 {
	font-size: 1.5em;
	font-family: 'Oswald', sans-serif;
	display: inline;
	text-align: center;
	padding: 1em;
	padding-left: 1em;
}

.buy-button {
	padding: .5em;
	margin-right: 0em;
	font-size: 1em;
	border-radius: 10px;
	background-color: #EBEBFF;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	float: right;
	display: inline-block;
	width: 20%;
}

ol li {
display: inline;
width: 25%;
margin: 0em;
padding: 0.5em;
font-family: 'Oswald', sans-serif;
font-size: 1em;
}

ol {
	margin: -1em;
	padding: 0em;
	overflow: hidden;
	text-align: center;
}

a {
	color: black;
	text-decoration: none;
	font-size: .8em;
		padding: .5em;
	margin-bottom: 1em;
	margin-left: 2em;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	width: 80%;
}

.banner {
overflow: hidden;
padding: 0em;
margin: 0em;
background-color: black;
}


.contact {
	color: black;
	text-decoration: none;
	font-size: .8em;
		padding: 0em;
	margin-bottom: 0em;
	margin-left: 0em;
	border-radius: 0em;
	background-color: gray;
	text-align: left;
	font-family: 'Oswald', sans-serif;
	display: inline-block;
	width: 80%;
}

.navigation {
	background-color: white;
	padding-bottom: 0em;
	clear: both;
	margin: 0em;
	padding-right: 1em;
	text-align: center;
}

.cite {
text-align: left;
padding-left: 1em;
background-color: gray;
font-size: .5em;
padding: 1em;
margin: 0em;}

.links {
	color: black;
	text-decoration: none;
	font-size: .8em;
		padding: 0em;
	margin-right: em;
	margin-top: 2em;
	text-align: left;
	font-family: 'Oswald', sans-serif;
float: left;
	display: inline-block;
	width: 40%;
}
